{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-right" style="padding: 250px 0; background-image: url('/static/images/about/header44.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">
            <div style="text-align:center;width:100%;background-color:#3EBDFF;padding-top:19px;height:60px;opacity:0.8;height:75px;"><h1>About us</h1></div>
        </section><!-- #page-title end -->
{% endblock %}
        <!-- Content
        ============================================= -->
    {% block content %}

        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="row clearfix">

                        <div class="col-md-5" style="font-family:'yekan', sans-serif bold;" >
                            {% autoescape off %}
                            <h4 style="font-family:'yekan', sans-serif bold;">{{aboutus.titlehistory}}</h4>
                            {% endautoescape %}
                            {% autoescape off %}
                            <p style="font-family:'yekan', sans-serif bold;" >{{aboutus.history}}</p>
                            {% endautoescape %}


                        </div>

                        <div class="col-md-6" style="font-family:'yekan', sans-serif bold;">
                             {% autoescape off %}
                            <h4 style="font-family:'yekan', sans-serif bold;">{{aboutus.titleproject}}</h4>
                            {% endautoescape %}
                            {% autoescape off %}
                            <p style="text-align: justify;font-family:'yekan', sans-serif bold;">{{aboutus.project}}</p>
                            {% endautoescape %}

                        </div>

                    </div>

                </div>

                <div class="section parallax dark bottommargin-lg" style="background-image: url('/static/images/services/home-testi-bg.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.3">

                    <div class="container clearfix">

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                            <i class="i-plain i-large divcenter nobottommargin icon-time"></i>
                            <div class="counter counter-lined"><span data-from="10" data-to="80" data-refresh-interval="50" data-speed="4000" data-comma="true"></span>+</div>
                            <h5>Best Design</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                            <i class="i-plain i-large divcenter nobottommargin icon-code"></i>
                            <div class="counter counter-lined"><span data-from="100" data-to="25841" data-refresh-interval="50" data-speed="2500" data-comma="true"></span></div>
                            <h5>Best Decoration</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                            <i class="i-plain i-large divcenter nobottommargin icon-briefcase"></i>
                            <div class="counter counter-lined"><span data-from="100" data-to="923" data-refresh-interval="50" data-speed="3500" data-comma="true"></span></div>
                            <h5>Projects Completed</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                            <i class="i-plain i-large divcenter nobottommargin icon-dribbble2"></i>
                            <div class="counter counter-lined"><span data-from="25" data-to="214" data-refresh-interval="30" data-speed="2700" data-comma="true"></span></div>
                            <h5>Shots on Dribbble</h5>
                        </div>

                    </div>

                </div>



                <div class="instagram-photos masonry-thumbs col-6 bottommargin-lg" data-user="insideenvato" data-count="12" data-type="user"></div>

                <div class="container clearfix">

                    <div class="fancy-title title-border">
                        <h3>Our Team </h3>
                    </div>
                    <div class="col_full">
                            {% for item in team %}
                        <div class="team" style="float:left;width:33%;">
                            <div class="team-image">
                                <img src="/media/{{ item.image }}">
                            </div>
                            <div class="team-desc">
                                <div class="team-title"><h4 style="font-family:'yekan', sans-serif bold;">{{ item.name }}</h4>
                                <h6 style="font-family:'yekan', sans-serif bold;">{{ item.title }}</h6>                                </div>
                                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                            </div>

                        </div>
                            {% endfor%}

                    </div>
            </div>

            </div>

          </section><!-- #content end -->

        <!---->
        {% endblock %}


</html>