<!DOCTYPE html> 
{% load static from staticfiles %}

<html dir="rtl" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href='{% static "css/bootstrap.css" type="text/css" %}' />
    <link rel="stylesheet" href='{% static "css/bootstrap-rtl.css" type="text/css" %}' />
	<link rel="stylesheet" href='{% static "style.css" type="text/css" %}' />
	{% if lang == 'fa' %}
    <link rel="stylesheet" href='{% static "style-rtl.css" type="text/css" %}'/>
	{% endif %}
	<link rel="stylesheet" href='{% static "css/dark.css" type="text/css" %}' />
	{% if lang == 'fa' %}
    <link rel="stylesheet" href='{% static "css/dark-rtl.css" type="text/css" %}' />
	{% endif %}
	<link rel="stylesheet" href='{% static "css/font-icons.css" type="text/css" %}'/>
	{% if lang == 'fa' %}
	<link rel="stylesheet" href='{% static "css/font-icons-rtl.css" type="text/css" %}' />
	{% endif %}
	<link rel="stylesheet" href='{% static "css/animate.css" type="text/css" %}' />
	<link rel="stylesheet" href='{%static "css/magnific-popup.css" type="text/css" %}' />
	<link rel="stylesheet" href='{% static "css/responsive.css" type="text/css" %}' />
	{% if lang == 'fa' %}
	<link rel="stylesheet" href='{% static "css/responsive-rtl.css" type="text/css" %}'/>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
    ============================================= -->
	<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
    <script src='{% static "js/myjs.js" %}'></script>
    <script src='{% static "js/angular.min.js" %}'></script>
    <script src='{% static "js/angular-sanitize.js" %}'></script>
    <script src='{% static "js/controljs.js" %}'></script>
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

	<script type="text/javascript" src='{% static "js/plugins.js" %}'></script>

    <!-- Document Title
    ============================================= -->
	<title>AMDF</title>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
    <header id="header" class="transparent-header full-header dark" data-sticky-class="not-dark">

            <div id="header-wrap" >

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo" data-dark-logo='{% static "images/logo-dark.png" %}'><img src='{% static "images/logo.png" %}' alt="Canvas Logo"></a>
                        <a href="index.html" class="retina-logo" data-dark-logo='{% static "images/logo-dark@2x.png" %}'><img src='{% static "images/logo@2x.png" %}' alt="Canvas Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="style-3" style="direction: rtl;float: right;">

						<ul>
							<li><a href="/#index" style="font-family:'yekan', sans-serif bold;font-size:14px;">
								<div>
									{% if lang == 'fa' %}
صفحه اصلی
									{% else %}

Home
									{% endif %}

								</div>
							</a></li>
							<li><a href="/#gallery"  style="font-family:'yekan', sans-serif bold;font-size:14px;"><div>
								{% if lang == 'fa' %}

گالری تصاویر
								{% else %}
Gallery
								{% endif %}

								 </div>
							</a></li>
							<li><a href="/#contact" style="font-family:'yekan', sans-serif bold;font-size:14px;">
								<div>
								{% if lang == 'fa' %}

ارتباط با ما
									{% else %}
Contact Us
									{% endif %}

								 </div>
								</a></li>
							<li><a href="/#aboutus" style="font-family:'yekan', sans-serif bold;font-size:14px;">
										<div>
								{% if lang == 'fa' %}

درباره ما									{% else %}

About Us
											{% endif %}
</div>
							</a></li>
							<li><a href="/#questions" style="font-family:'yekan', sans-serif bold;font-size:14px;">

											<div>
								{% if lang == 'fa' %}

سوالات متداول									{% else %}
Our Questions
												{% endif %}

											</div>
							</a></li>
							<li><a href="/#ourproducts" style="font-family:'yekan', sans-serif bold;font-size:14px;">
							<div>
								{% if lang == 'fa' %}

دکوراسیون داخلی

								{% else %}
Interior Design
								{% endif %}

							</div>	</a>
								<ul>
									{% for item in inter %}
									<li><a href="ourproducts/{{item.id}}" style="font-family:'yekan', sans-serif bold;font-size:14px;"><div>{{item.name}}</div></a>
									</li>
									{% endfor %}

								</ul>
							</li>
							<li><a href="/#ourproducts" style="font-family:'yekan', sans-serif bold;font-size:14px;">

								<div>

									{% if lang == 'fa' %}

کارگاه ها
									{% else %}
WorkShop
								    {% endif %}

								</div>
							</a>
							<ul>
								{% for item in workshop %}
								<li><a href="ourproducts/{{item.id}}" style="font-family:'yekan', sans-serif bold;font-size:14px;"><div>{{item.name}}</div></a></li>
								{% endfor %}

							</ul>
</li>

						</ul>


					</nav><!-- #primary-menu end -->
            <div style="float:left;margin-top:12px;padding-right:15px;">
                <ul style="list-style-type:none;float:left;margin-bottom:20px;margin-top:10px;">
                    <li style="display: inline;float:right;margin-right:10px;">
                        <a href="/fa" class="hvr-glow"><img src="/static/images/Iran-icon.png" width="40" height="40"></a>
                    </li>
                    <li style="display: inline;float:right;margin-right:10px;">
                        <a href="/en" class="hvr-glow"><img src="/static/images/USA-icon.png" width="40" height="40"></a>
                    </li>
                </ul>
            </div>
                </div>

            </div>

        </header><!-- #header end -->

        <!-- Page Title
        ============================================= -->
        {% block title %}
            {% endblock %}

        <!-- Page Title
        ============================================= -->


        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                     {% block content %}
                    {% endblock %}


                </div>

            </div>

        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->

        <footer id="footer" class="dark">

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Copyrights &copy; 2014 All Rights Reserved by BodeSepid.ir<br>
                    </div>

                    <div class="col_half col_last tleft">
                        <div class="fleft clearfix">
                            <a href="#" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-yahoo">
                                <i class="icon-yahoo"></i>
                                <i class="icon-yahoo"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>

                        <div class="clear"></div>

                        <i class="icon-envelope2" style="float:left;"></i> info@amdf.com</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot"></span>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src='{% static "js/functions.js" %}'></script>



</body>
</html>
