{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-right" style="padding: 250px 0; background-image: url('/static/images/about/me-parallax.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">
            <div style="text-align:center;width:100%;background-color:yellow;padding-top:19px;height:60px;opacity:0.8;height:75px;"><h1>Contact Us</h1></div>
        </section><!-- #page-title end -->
{% endblock %}

        <!-- Content
        ============================================= -->
            {% block content %}




                    <div class="col-md-6 bottommargin">


                        <section id="google-map" class="gmap" style="height: 240px;"></section>

                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                        <script type="text/javascript" src='{% static "js/jquery.gmap.js" %}'></script>

                        <script type="text/javascript">

                            $('#google-map').gMap({

                                address: 'Qom, Iran',
                                maptype: 'ROADMAP',
                                zoom: 14,
                                markers: [
                                    {
                                        address: "Qom, Iran",
                                        html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>Envato</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
                                        icon: {
                                            image: "images/icons/map-icon-red.png",
                                            iconsize: [32, 39],
                                            iconanchor: [32,39]
                                        }
                                    }
                                ],
                                doubleclickzoom: false,
                                controls: {
                                    panControl: true,
                                    zoomControl: true,
                                    mapTypeControl: true,
                                    scaleControl: false,
                                    streetViewControl: false,
                                    overviewMapControl: false
                                }

                            });


                        </script>

                    </div><!-- Google Map End -->

                    <div class="col-md-6">

                        <!-- Contact Info
                        ============================================= -->
                        <div class="col_two_fifth">

                            <address style="font-family:'yekan', sans-serif bold;font-size:14px;">
                                <strong style="font-family:'yekan', sans-serif bold;font-size:14px;">آدرس دفتر</strong><br>
                                خیابان سالاریه،کوچه 20<br>
                                قم<br>
                            </address>
                            <abbr title="Phone Number"><strong style="font-family:'yekan', sans-serif bold;font-size:14px;">تلفن</strong></abbr> 329022945<br>
                            <abbr title="Fax"><strong style="font-family:'yekan', sans-serif bold;font-size:14px;">فکس</strong></abbr> 329022946<br>
                            <abbr title="Email Address"><strong style="font-family:'yekan', sans-serif bold;font-size:14px;">اایمیل</strong></abbr> info@canvas.com

                        </div><!-- Contact Info End -->

                        <!-- Testimonials
                        ============================================= -->
                        <div class="col_three_fifth col_last">
                        </div><!-- Testimonial End -->

                        <div class="clear"></div>

                        <!-- Modal Contact Form
                        ============================================= -->
                        <a href="#" data-toggle="modal" data-target="#contactFormModal" style="font-family:'yekan', sans-serif bold;font-size:14px;" class="button button-3d nomargin btn-block button-xlarge center">جهت ارسال ایمیل کلیک کنید</a>

                        <div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="contactFormModalLabel">Send Us an Email</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>
                                        <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

                                            <div class="form-process"></div>

                                            <div class="col_half">
                                                <label for="template-contactform-name">Name <small>*</small></label>
                                                <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                                            </div>

                                            <div class="col_half col_last">
                                                <label for="template-contactform-email">Email <small>*</small></label>
                                                <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                                            </div>

                                            <div class="clear"></div>

                                            <div class="col_half">
                                                <label for="template-contactform-phone">Phone</label>
                                                <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
                                            </div>
                                            <div class="clear"></div>

                                            <div class="col_full">
                                                <label for="template-contactform-subject">Subject <small>*</small></label>
                                                <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" />
                                            </div>

                                            <div class="col_full">
                                                <label for="template-contactform-message">Message <small>*</small></label>
                                                <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                                            </div>

                                            <div class="col_full hidden">
                                                <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                                            </div>

                                            <div class="col_full">
                                                <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
                                            </div>

                                        </form>

                                        <script type="text/javascript">
                                            $("#template-contactform").validate({
                                                submitHandler: function(form) {
                                                    $('.form-process').fadeIn();
                                                    $(form).ajaxSubmit({
                                                        target: '#contact-form-result',
                                                        success: function() {
                                                            $('.form-process').fadeOut();
                                                            $('#template-contactform').find('.sm-form-control').val('');
                                                            $('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
                                                            SEMICOLON.widget.notifications($('#contact-form-result'));
                                                        }
                                                    });
                                                }
                                            });
                                        </script>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- Modal Contact Form End -->

                    </div>





{% endblock %}

</html>