{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-right" style="padding: 250px 0; background-image: url('/static/images/about/header42.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">
            <div style="text-align:center;width:100%;background-color:#FFA81E;padding-top:19px;height:60px;opacity:0.8;height:75px;"><h1>Gallary</h1></div>
        </section><!-- #page-title end -->
{% endblock %}


        <!-- Content
        ============================================= -->
    {% block content %}

        <section id="content" data-ng-app="imageListPagination" data-ng-controller="galleryCtrl">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Portfolio Items
                    ============================================= -->

                <div class="clearfix" id="portfolio">
  {% for item in imgs %}
                        <article class="portfolio-item pf-media pf-icons">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img alt="Open Imagination" src="/media/{{ item.small_img }}" style="visibility: visible; opacity: 1; display: block;">
                                </a>
                                <div class="portfolio-overlay">
                                    <a data-lightbox="image" class="left-icon" href="/media/{{ item.large_img }}"><i class="icon-line-plus"></i></a>
                                    <a class="right-icon" href="portfolio-single.html"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">{{ item.alt }}</a></h3>
                            </div>
                        </article>
{% endfor %}
                    </div>

                    <ul class="pagination topmargin nobottommargin">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>

                </div>

            </div>

        </section><!-- #content end -->

       {% endblock %}

</html>