{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-right" style="padding: 250px 0; background-image: url('/static/images/about/header41.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">
            <div style="text-align:center;width:100%;background-color:#FFD760;padding-top:19px;height:60px;opacity:0.8;height:75px;"><h1>Our Products</h1></div>
        </section><!-- #page-title end -->
{% endblock %}


        <!-- Content
        ============================================= -->
    {% block content %}

        <section id="content">

            <div class="content-wrap nobottompadding">

                <div class="container clearfix">

                    <!-- Portfolio Filter
                    ============================================= -->
                    <ul id="portfolio-filter" class="clearfix">

                        <li class="activeFilter"><a href="#" data-filter="*">همه</a></li>
                        {% for item in categories %}
                            <li><a href="#" data-filter=".g{{item.id}}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul><!-- #portfolio-filter end -->

                    <div id="portfolio-shuffle" style="margin-left:15px;">
                        <i class="icon-random"></i>
                    </div>

                </div>

                <!-- Portfolio Items
                ============================================= -->

                <div id="portfolio" class="portfolio-nomargin portfolio-notitle portfolio-full clearfix">
{% for item in products %}
                    <article class="portfolio-item g{{item.product.id}}">
                        <div class="portfolio-image">
                            <a href="/product/{{item.id}}">
                                <img src='/media/{{ item.small_img}}' alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <a href='/media/{{ item.large_img }}' class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                <a href="/product/{{item.id}}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="/product/{{item.id}}">{{ item.name }}</a></h3>
                            <span><a href="/product/{{item.id}}">{{ item.model }}</a></span>
                        </div>
                    </article>
{% endfor %}
                </div><!-- #portfolio end -->

                <!-- Portfolio Script
                ============================================= -->
                <script type="text/javascript">

                    jQuery(window).load(function(){

                        var $container = $('#portfolio');

                        $container.isotope({ transitionDuration: '0.65s' });

                        $('#portfolio-filter a').click(function(){
                            $('#portfolio-filter li').removeClass('activeFilter');
                            $(this).parent('li').addClass('activeFilter');
                            var selector = $(this).attr('data-filter');
                            $container.isotope({ filter: selector });
                            return false;
                        });

                        $('#portfolio-shuffle').click(function(){
                            $container.isotope('updateSortData').isotope({
                                sortBy: 'random'
                            });
                        });

                        $(window).resize(function() {
                            $container.isotope('layout');
                        });

                    });

                </script><!-- Portfolio Script End -->

            </div>

        </section><!-- #content end -->

           {% endblock %}

</html>