{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-right" style="padding: 250px 0; background-image: url('/static/images/about/header42.jpg'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">
            <div style="text-align:center;width:100%;background-color:#FFD760;padding-top:19px;height:60px;opacity:0.8;height:75px;"><h1>Gallary</h1></div>
        </section><!-- #page-title end -->
{% endblock %}


        <!-- Content
        ============================================= -->
    {% block content %}
          <!-- Portfolio Single Gallery
                    ============================================= -->
                    <div class="col_two_third portfolio-single-image nobottommargin">
                        <div class="fslider" data-arrows="false" data-thumbs="true" data-animation="fade">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide" data-thumb='{% static "images/portfolio/single/slider-thumbs/1.jpg" %}'><a href="#"><img src='{% static "images/portfolio/single/1.jpg" %}' alt=""></a></div>
                                    <div class="slide" data-thumb='{% static "images/portfolio/single/slider-thumbs/7.jpg" %}'><a href="#"><img src='{% static "images/portfolio/single/7.jpg" %}' alt=""></a></div>
                                    <div class="slide" data-thumb='{%static "images/portfolio/single/slider-thumbs/10.jpg" %}'><a href="#"><img src='{% static "images/portfolio/single/10.jpg" %}' alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .portfolio-single-image end -->

                    <!-- Portfolio Single Content
                    ============================================= -->
                    <div class="col_one_third portfolio-single-content col_last nobottommargin">

                        <!-- Portfolio Single - Description
                        ============================================= -->
                        <div class="fancy-title title-bottom-border">
                            <h2 style="font-family:'yekan', sans-serif bold;"> مشخصات محصول</h2>
                        </div>
                        <p style="font-family:'yekan', sans-serif bold;text-align:justify;">موارد استفاده :
مناسب برای محصولات چوبی فضای خارجی، کف های چوبی، باربیکیو های چوبی، نمای چوبی، گلدان های چوبی (فلاورباکس) و دیگر محصولاتی که از چوب، از چوب طبیعی ویا از چوب ترمو ( ترمووود)، ساخته شده اند.
آماده سازی :
در ابتدا باید گرد و غباراز روی چوب با جارو یا برس پاک شده، محصولات فلزی مانند لوله ها واتصالات آن، گیاهان و احیانا” البسه موجود در فضا پوشانده شود و هنگام اعمال این محصول سطح چوب مرطوب باشد.</p>
                        <p style="font-family:'yekan', sans-serif bold;text-align:justify;">دستور استفاده :
این محصول میتواند حداکثر تا نسب 1به 5 با آب رقیق شود و به وسیله اسپری یا SAICOS Floor Brush روی چوب اعمال شود . بعد از اعمال بر روی سطح، بسته به کیفیت سطح چوب و میزان تغییر رنگ ، حدود 15 الی 30 دقیقه اثرگذاری این محصول زمان می برد. پس از زمان مذکور کافی است با استفاده از قلمو و آب زیاد سطح چوب ها تمیز شود ( استفاده از واتر جت نیز می تواند خیلی مفید باشد). در صورتیکه هنوز لکه های ناشی از تغییر رنگ باقی مانده باشد، می توان این عمل را تکرار کرد.</p>
                        <!-- Portfolio Single - Description End -->


                    <div class="clear"></div>

                    <div class="divider divider-center"><i class="icon-circle"></i></div>




                    <script type="text/javascript">

                        jQuery(document).ready(function($) {

                            var relatedPortfolio = $("#related-portfolio");

                            relatedPortfolio.owlCarousel({
								rtl: true,
                                margin: 30,
                                nav: true,
                                dots:false,
                                navText: ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
                                autoplay: true,
                                autoplayHoverPause: true,
                                responsive:{
                                    0:{ items:1 },
                                    480:{ items:2 },
                                    768:{ items:3 },
                                    992: { items:4 }
                                }
                            });

                        });

                    </script>
        {% endblock %}

</html>