{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-right"
         style="padding: 250px 0; background-image: url('/static/images/about/3me-parallax.jpg'); background-size: cover; background-position: center center;"
         data-stellar-background-ratio="0.2">
    <div style="text-align:center;width:100%;background-color:#FFEE00;padding-top:19px;height:60px;opacity:0.8;height:75px;"><h1>Your
        Questions</h1></div>
</section><!-- #page-title end -->
{% endblock %}


<!-- Content
============================================= -->
{% block content %}

 <div class="postcontent nobottommargin clearfix" style="width: 100%">
                        <div class="faqs" id="faqs"  data-ng-app="imageListPagination" data-ng-controller="questionCtrl">

                            <div class="toggle faq faq-marketplace " data-ng-repeat="item in questions" style="font-family:'yekan', sans-serif bold;">
                                <div class="togglet" onclick="toggleBox(this);"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>{$ item.question $}</div>
                                <div class="togglec" data-ng-bind-html="item.answer"></div>
                            </div>
<script type="text/javascript">
    function toggleBox(obj){
    $(obj).next().toggle('slow');
    }
</script>



                        </div>


                    </div>
{% endblock %}

</html>